:root{
  --main-display: flex;

}

body{
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  text-align: center;
}

/* Transition JS hook */
.transition-hook{

}
.transition-hook__wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.transition-hook__block{
  width: 100px;
  height: 100px;
  background: violet;;
  border: 3px solid violet;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}
.transition-hook__block.active{
  border: 30px solid yellow;
  border-radius: 50%;
  transform: scale(1.3);
}
.transition-hook__block span{
  font-size: 40px;
  line-height: 1;
}

/* Form validation */
.form-validation{

}


.form-validation__label{
  display: block;
  margin-bottom: 30px;
}

.form-validation__field:valid{
  outline-color: green;
}

.form-validation__field:invalid{
  outline-color: red;
}

.form-validation__field:in-range:after{
  content: "In range";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:out-of-range:after{
  content: "Out of range";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:required{

}

.form-validation__field:optional{

}

.form-validation__field:default:after{
  content: "Default";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:disabled:after{
  content: "disabled";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:enabled:after{
  content: "enabled";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:read-only:after{
  content: "read-only";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:read-write:after{
  content: "read-only";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:checked{

}

.form-validation__field:indeterminate:after{
  content: "indeterminate";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:focus{
  outline-color: blue;
}

/* Transparent border */
.transparent-border{
  background-image: url('http://bgfons.com/upload/brick_texture3348.jpg');
}

.transparent-border h2{
  color: #ffffff;
}

.transparent-border__elem{
  border: 10px solid hsla(0,0%,100%, 0.5);
  background-color: #aaaaaa;
  background-clip: padding-box;

}

/* Helpers */
.mb50{
  margin-bottom: 50px;
}
