/* Form validation */
.form-validation{

}


.form-validation__label{
  display: block;
  margin-bottom: 30px;
}

.form-validation__field:valid{
  outline-color: green;
}

.form-validation__field:invalid{
  outline-color: red;
}

.form-validation__field:in-range:after{
  content: "In range";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:out-of-range:after{
  content: "Out of range";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:required{

}

.form-validation__field:optional{

}

.form-validation__field:default:after{
  content: "Default";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:disabled:after{
  content: "disabled";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:enabled:after{
  content: "enabled";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:read-only:after{
  content: "read-only";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:read-write:after{
  content: "read-only";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:checked{

}

.form-validation__field:indeterminate:after{
  content: "indeterminate";
  display: block;
  border: 1px solid #000000;
  background: #ffffff;
}

.form-validation__field:focus{
  outline-color: blue;
}
